@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --white: #f4f5f0;
    --black: #121212;
    --completed-color: #aefa84;
    --inprogress-color: #faee84;
    font-family: 'Source Sans Pro';
}

* {
    margin: 0;
    padding: 0;
    color: var(--black);
}

body {
    background-color: var(--white);
}

section#land {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:#99a8ff;
    background-color:#99a8ff;
    background-image:
    radial-gradient(at 28% 25%, hsla(299,87%,60%,1) 0px, transparent 50%),
    radial-gradient(at 92% 69%, hsla(23,68%,63%,1) 0px, transparent 50%),
    radial-gradient(at 71% 84%, hsla(327,98%,76%,1) 0px, transparent 50%),
    radial-gradient(at 85% 71%, hsla(184,88%,63%,1) 0px, transparent 50%),
    radial-gradient(at 98% 30%, hsla(165,75%,71%,1) 0px, transparent 50%),
    radial-gradient(at 30% 4%, hsla(95,97%,79%,1) 0px, transparent 50%),
    radial-gradient(at 10% 67%, hsla(317,65%,65%,1) 0px, transparent 50%);
}
    section#land h1, section#land aside p {
        color: var(--white);
        font-family: 'Source Serif Pro';
    }
        section#land p {
            font-size: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        section#land a p {
            text-decoration: none;
            padding: 0.2em 1em;
            border: 1px solid var(--white);
            border-radius: 10px;
            font-size: 1.5em;
            text-align: center;
            color: "#fff";
        }

        section#land aside>a {
            text-decoration: none;
            margin-top: 1em;
            color: var(--white);
            border: 1px solid var(--white);
            border-radius: 0.3em;
            padding: .4em .7em;
            font-size: 1.3em;
        }

        section#land aside>a:hover p {
            color: "#aefa84";
            border-color: #aefa84;
            transition: 0.5s ease;
        }
    
        section#land h1 {
            font-size: 3.5em;
            font-style: italic;
            font-weight: 1000;
        }
            section#land h1:nth-child(1) {
                margin-bottom: -0.3em;
            }


section{
    padding: 2em 2em;
    padding-bottom: 1em;
    transition: ease .6s;
    opacity: 0;
}
        .visible {
            opacity: 1;
        }
        
    section h2 {
        font-family: 'Source Serif Pro';
        font-weight: 800;
        font-style: italic;
        font-size: 2.5em;
        margin: 1em 0 0.2em;
    }

    section#about p {
        line-height: 2em;
        text-align: justify;
    }

    section#about p.list-title {
        line-height: 2em;
        text-align: left;
    }
    
    section#about h3 {
        margin: 3em 0 .5em 0;
        font-family: 'Source Serif Pro';
    }

    section#about p.list-title {
        font-weight: 600;
        margin-top: .5em;
    }

    section#about ul {
        list-style: none;
        padding-left: 1em;
    }

    li {
        margin-bottom: 0.8em;
    }

    a.project {
        text-decoration: none;
    }

    section.projects>h2 {
        margin-top: 0em;
    }
    section.projects {
        padding: 1em 0.8em;
    }

    div.project {
        border: 1px solid rgba(12, 12, 12, 0.322);
        border-radius: 1em;
        display: flex;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
        margin: 1em 0;
        transition: background .3s;
    }
            div.project:hover, div.project:active {
                background-color: rgba(0, 0, 0, 0.075);
                transition: background .3s;
            }

        div.project div:nth-child(1) {
            width: 30%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 1em 0 0 1em;
        }
        div.project div:nth-child(2) {
            width: 70%;
            padding: 1em 1em;

        }
            div.project div:nth-child(2) h3 {
                margin: .5em 0;
            }

            div.project div:nth-child(2) p {
                font-size: .75em;
                color: #2f2f2f;
            }

            div.project div:nth-child(2) p:nth-child(3) {
                padding: .2em .8em;
                border-radius: .5em;
                text-align: center;
                margin: 1em 0;
            }
                .completed {background-color: var(--completed-color);}
                .inProgress{background-color: var(--inprogress-color);}
        
footer {
    margin: 0 0 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
    footer div:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: 1em 0;
    }

    footer a:active img, footer a:hover img {
        width: 95%;
        transition: 1s;
    }

#forest-ext-shadow-host{display: none;}

@media (min-width:500px) {
    section#land h1 {
        font-size: 5em;
    }
    section#land p {
        font-size: 1.2em;
    }

    #about,.projects {
        width: 80%;
        margin: auto;
    }
}

@media (min-width:790px) {
    section#land h1 {
        font-size: 8em;
    }
    section#land p {
        font-size: 2em;
    }

    section#land a>p {
        display: inline;
    }

    #about, .projects {
        width: 50%;
    }

    div.project div:nth-child(2) p {
        font-size: 1em;
        margin: 0.2em 0;
    }

    div.project div:nth-child(2) p:nth-child(3) {
        padding: .2em .8em;
        border-radius: .5em;
        text-align: center;
        margin: 1em 8em;
    }
}

